

<link rel="stylesheet" href="/css/admin.css">

<div id="wrapper">
    <div>
        <h1>Employees</h1>
    </div>
    <ul id="employee-list">
        <% for (const employee of employees) { %>
            <% if(locals.employee._id !== employee._id) { %>
            <li class="employee"  id="<%= employee._id %>">
                <div class="employee-container" data-employee-id="<%= employee._id %>">
                <span class="inline">
                    <h2> Employee:</h2>
                    <h4>
                        <%= employee.name %>
                    </h4>
                </span>
                <span class="inline">
                    <h2> Email:</h2>
                    <h4>
                        <%= employee.email %>
                    </h4>
                </span>
                <% if(!employee.isAdmin) {%>
                <button class="btn btn-primary create-admin" data-employee-id="<%= employee._id %>" >Make admin</button>
                <% }else{ %>
                    <h2> Already Admin</h2>
                    <% } %>
                </div>
            </li>
            <% } %>
            <% } %>
    </ul>
</div>
<script src="/scripts/admin.js"></script>